{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agenda virtual con Django">
    <title>Mi agenda virtual con Django</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body class="container py-5">
    <div class="p-5 border border-1 shadow rounded">
        <h1 class="fw-bold text-primary">Bienvenido a mi agenda</h1>
        <h2>Con esta aplicación podrás gestionar tu agenda virtual</h2>
        <p>
            Consulta, crea, actualiza y elimina tus contactos de forma fácil y segura
        </p>
    </div>
    {% block content %}
    {% endblock %}

    
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
